<form method="post" enctype="multipart/form-data" action="{% url 'update_employee' employee.employee_id %}">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title">Update Employee</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body">
    {% include 'partials/employee_form_fields.html' with mode='update' %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>
